$primaryColor: #00C8FB;

.nav-box{
  height: 45px;
  width: 100%;
  background: $primaryColor;
  padding: 0;
  margin:0;
  li{
    list-style: none;
    float: left;
    padding: 0 20px;
    line-height: 45px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    border-right: 1px dashed #ccc;
  }
}
