@import './theme.scss';
.loading-box{
  // margin:100px auto;
  width: 8em;
  height: 8em;
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  margin:auto; 
  .progress{position: absolute;
    width: 6em; height:6em;
    background-color: white;
    border-radius: 50%;
    left: 1em; top: 1em;
    line-height: 6em; text-align: center;
  }
  .left,.right{
    width: 4em;
    height: 8em;
    overflow: hidden;
    position: relative;
    float: left;
  }
  .left{ border-radius: 8em 0 0 8em;}
  .right{ border-radius: 0 8em 8em 0;}
  .left:after,.right:after{content:"";  position:absolute; display:block; width: 4em;height: 8em; background-color: white;border-radius: 8em 0 0 8em;background-color: $primaryColor;}
  .right:after{content:"";  position:absolute; display:block;   border-radius: 0 8em 8em 0; }
  .left:after{-webkit-animation:rotateA 2s infinite linear; transform-origin:right center; }
  .right:after{-webkit-animation:rotateB 2s infinite linear; transform-origin:left center;}
}



 @-webkit-keyframes rotateB{
   25%,50%{transform:rotateZ(180deg);}
   75%,100%{transform:rotateZ(360deg);}
 }
 @-webkit-keyframes rotateA{
   0%,25%{transform:rotateZ(0deg);}
   50%,75%{transform:rotateZ(180deg);}
   100%{transform:rotateZ(360deg);}
 }
